.togglebutton {
    display: inline-block;
    width: 100px;
    color: lightgrey;
    background-color: darkgrey;
    padding: 12px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.onbutton.selected {
    background-color: green;
    color: white!important;
}
.offbutton.selected {
    background-color: red;
    color: white!important;
}

.pop {
    background-color: orange;
}
